@using BookStoreWeb.Models

@{
    ViewBag.Title = "Detail";
}

@model BookDetailViewModel

<div class="single-product-area section-padding" style="background-color:#f1f4ed">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-7">
                <div class="main-image-div" style="padding:5px;">
                    <div class="single-product-image-inner">

                        @if (Model.BookImages.Any())
                        {
                            <div class="tab-content">

                                @foreach (var item in Model.BookImages)
                                {
                                    <div role="tabpanel" class="tab-pane" id="@item.Id">
                                        <a class="venobox" href="~/Content/Template/img/single-product/bg-1.jpg" data-gall="gallery" title="">
                                            <img src="@Url.Content(item.Url)" width="270" height="350" class="center-img" alt="">
                                        </a>
                                    </div>
                                }
                                <ul class="product-tabs" role="tablist">
                                    @foreach (var item in Model.BookImages)
                                    {
                                        <li role="presentation" class="active">
                                            <a href="@item.Id" aria-controls="@item.Id" role="tab" data-toggle="tab">
                                                <img src="@Url.Content(item.Url)" alt="">
                                            </a>
                                        </li>
                                    }

                                </ul>

                            </div>

                        }
                        else
                        {
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="one">
                                    <a class="venobox" href="~/Content/Template/img/single-product/bg-1.jpg" data-gall="gallery" title="">
                                        <img src="~/Images/no_image150x207.jpg" width="270" height="350" class="center-img" alt="">
                                    </a>
                                </div>
                            </div>
                        }

                    </div>
                </div>

            </div>
            <div class="col-md-6 col-sm-5">
                <div class="product-detail-div">
                    <div class="single-product-details">
                        <h2>@Model.Book.Title</h2>
                        <div class="availability">
                            @if (Model.Book.Stock > 0)
                            {
                                <span>Stokta Var</span>
                            }
                            else
                            {
                                <span>Stokta kalmadı</span>
                            }
                        </div>
                        <p>Tarafından (Yazar) <a href="@Url.Action("Author/" + Model.Book.AuthorId)">@Model.Book.AuthorName</a></p>
                        <div class="single-product-price">
                            <h2><span><b>₺</b></span>@Model.Book.Price</h2>
                        </div>
                        <div class="product-attributes clearfix">
                            <span class="pull-left" id="quantity-wanted-p">
                                <span class="dec qtybutton">-</span>
                                <input type="text" value="1" class="cart-plus-minus-box">
                                <span class="inc qtybutton">+</span>
                            </span>
                            <span>
                                <a class="cart-btn btn-default" href="cart.html">
                                    <i class="flaticon-shop"></i>
                                    Sepete Ekle
                                </a>
                            </span>
                        </div>
                        <div class="add-to-wishlist">
                            <a class="wish-btn" href="cart.html">
                                <i class="fa fa-heart-o"></i>
                                FAVORİLERİME EKLE
                            </a>
                        </div>
                        <div class="single-product-categories">
                            <label>Kategoriler:</label>
                            <ul>
                                @foreach (var item in Model.RelatedCategories)
                                {
                                    <li><a href="@Url.Action("Category/" + item.Id)" style="text-decoration:underline;">@item.Title</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="p-details-tab-content">
                    <div class="p-details-tab">
                        <ul class="p-details-nav-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#Description" aria-controls="more-info" role="tab" data-toggle="tab">Kitap Açıklaması</a></li>
                            <li role="presentation"><a href="#data" aria-controls="data" role="tab" data-toggle="tab">Ürün Detayları</a></li>
                            <li role="presentation"><a href="#productReviewList" aria-controls="productReviewList" role="tab" data-toggle="tab">Yorumlar</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                    <div class="tab-content review">
                        <div role="tabpanel" class="tab-pane active" id="Description">
                            <p>@Model.Book.Description</p>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="data">
                            <table class="table-data-sheet">
                                <tbody>
                                    <tr class="odd">
                                        <td>Kitap Adı</td>
                                        <td>@Model.Book.Title</td>
                                    </tr>
                                    <tr class="even">
                                        <td>Yazar</td>
                                        <td><a href="@Url.Action("Author/" + Model.Book.AuthorId)">@Model.Book.AuthorName</a></td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Yayın Evi</td>
                                        <td><a href="@Url.Action("Publisher/" + Model.Book.PublisherId)">@Model.Book.Publisher</a></td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Publicatioh Date</td>
                                        <td>@Model.Book.PublicationDate.ToString("dd MMMM yyyy")</td>
                                    </tr>
                                    <tr class="even">
                                        <td>ISBN13</td>
                                        <td>@Model.Book.ISBN13</td>
                                    </tr>
                                    <tr class="odd">
                                        <td>Sayfa</td>
                                        <td>@Model.Book.Page</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="productReviewList">
                            @if (!(Model.BookReviews.Any()))
                            {
                                <div id="product-comments-block-tab">
                                    <a href="#" class="comment-btn"><span>Be the first to write your review!</span></a>
                                </div>
                            }
                            @foreach (var item in Model.BookReviews)
                            {
                                if (item.IsApproval)
                                {
                                    <div class="comment active">
                                        <div class="comment-content">
                                            <p content="@item.CreatedAt">@item.CreatedAt.ToString("MM/dd/yyyy")</p>
                                            <strong>@item.Title</strong>
                                            <p id="reviewBody">
                                                @item.Title
                                            </p>
                                        </div>
                                    </div>
                                }

                            }
                            @*<div class="comment active">
                                    <div class="comment-content">
                                        <p content="11.04.2020">11.04.2020</p>
                                        <strong>Oblomovuz</strong>
                                        <p id="reviewBody">Okuduktan sonra çevrenizde yer alan her tutumu nedenselliğini görmeden değerlendirmek geçmişte kalan zaman olacak...</p>
                                    </div>
                                </div>
                                <div class="comment active">
                                    <div class="comment-content">
                                        <p content="11.04.2020">11.04.2020</p>
                                        <strong>Oblomovuz</strong>
                                        <p id="reviewBody">Okuduktan sonra çevrenizde yer alan her tutumu nedenselliğini görmeden değerlendirmek geçmişte kalan zaman olacak...</p>
                                    </div>
                                </div>
                                <div class="comment-inactive ">
                                    <div class="comment-content">
                                        <p content="11.04.2020">11.04.2020</p>
                                        <strong>Oblomovuz</strong>
                                        <p id="reviewBody">Okuduktan sonra çevrenizde yer alan her tutumu nedenselliğini görmeden değerlendirmek geçmişte kalan zaman olacak...</p>
                                    </div>
                                </div>
                                <div class="comment-inactive ">
                                    <div class="comment-content">
                                        <p content="11.04.2020">11.04.2020</p>
                                        <strong>Oblomovuz</strong>
                                        <p id="reviewBody">Okuduktan sonra çevrenizde yer alan her tutumu nedenselliğini görmeden değerlendirmek geçmişte kalan zaman olacak...</p>
                                    </div>
                                </div>
                                <div class="comment-inactive ">
                                    <div class="comment-content">
                                        <p content="11.04.2020">11.04.2020</p>
                                        <strong>Oblomovuz</strong>
                                        <p id="reviewBody">Okuduktan sonra çevrenizde yer alan her tutumu nedenselliğini görmeden değerlendirmek geçmişte kalan zaman olacak...</p>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="related-product-area">
    <h2 class="section-title">RELATED PRODUCTS</h2>
    <div class="container">
        <div class="row">
            <div class="related-product indicator-style">

                @Html.Action("RelatedProducts", "Book", new { categoryId = Model.RelatedCategories.First().Id })

            </div>
        </div>
    </div>
</div>
@Bootstrap.ModalPopUp("productModal")


<script>

    var bookId = -1;


    $(function () {
        $('#productModal').on('show.bs.modal',
            function (e) {

                var btn = $(e.relatedTarget);

                bookId = btn.data("book-id");
                $('#productModal_body').load("/Book/ShowQuickView/" + bookId);
            }
        )
    });

</script>

