@using Entities.WebViewModels.Book
@using PagedList;
@using PagedList.Mvc;

@{
    ViewBag.Title = "Shop";
}
@model StaticPagedList<BookListModel>


<div class="shopping-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="shop-widget">
                    <div class="shop-widget-top">

                        @Html.Action("GetCategoriesWithBookCount", "Category")

                        <aside class="widget shop-filter">
                            <h2 class="sidebar-title text-center">PRICE SLIDER</h2>
                            <div class="info-widget">
                                <div class="price-filter">
                                    <div id="slider-range"></div>
                                    <div class="price-slider-amount">
                                        <input type="text" id="amount" name="price" placeholder="Add Your Price" />
                                        <div class="widget-buttom">
                                            <input type="submit" value="Filter" />
                                            <input type="reset" value="CLEAR" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
                @if (ViewBag.Content != null)
                {
                    <h2>@ViewBag.Content</h2>
                }

                <div class="">
                    @Html.PagedListPager(Model, page => Url.Action("Shop", new { searchSortBy = Request.QueryString["searchSortBy"], page = page }))
                </div>
                <div class="shop-tab-area">
                    <div class="shop-tab-list">
                        <div class="shop-tab-pill pull-left">
                            @Model.TotalItemCount Ürün Listelenmektedir
                        </div>
                        @{ 
                            string actionName = ViewBag.Action ?? "Shop";
                        }
                        @using (Html.BeginForm(actionName, "Book", FormMethod.Get, new { @class = "shop-tab-pill pull-right" }))
                        {
                            <ul>
                                <li class="product-size-deatils">
                                    <div class="show-label">
                                        <label>Show : </label>
                                    </div>
                                </li>
                                <li class="product-size-deatils">
                                    <div class="show-label">
                                        <label><i class="fa fa-sort-amount-asc"></i>Sort by : </label>
                                        @Html.DropDownList("searchSortBy", new SelectList(ViewBag.SortingList, "Value", "Text", ViewBag.SelectedItem),
                                       new { onchange = "this.form.submit()" })
                                    </div>
                                </li>
                                @*<li class="shop-pagination"><a href="#">1</a></li>
                                    <li class="shop-pagination"><a href="#">2</a></li>
                                    <li class="shop-pagination"><a href="#"><i class="fa fa-caret-right"></i></a></li>*@

                            </ul>
                        }
                    </div>
                    <div class="tab-content">
                        <div class="row tab-pane fade in active" id="home">
                            <div class="shop-single-product-area">
                                @foreach (var item in Model)
                                {
                                    <div class="col-md-3 col-sm-6">
                                        <div class="single-banner" data-id="@item.Id">
                                            <div class="product-wrapper">
                                                <a href="@Url.Action("Detail","Book",new { id = item.Id})" class="single-banner-image-wrapper">
                                                    @if (string.IsNullOrEmpty(item.Url))
                                                    {
                                                        <img alt="" src="~/Images/no_image150x207.jpg">
                                                    }
                                                    else
                                                    {
                                                        <img alt="" src="@Url.Content(item?.Url)" width="150" height="180">
                                                    }
                                                </a>
                                                <div class="product-description">
                                                    <div class="functional-buttons">
                                                        <a href="#" title="Add to Cart">
                                                            <i class="fa fa-shopping-cart"></i>
                                                        </a>
                                                        <a href="#" title="Add to Wishlist">
                                                            <i class="fa fa-heart-o"></i>
                                                        </a>
                                                        <a href="#" title="Quick view" data-toggle="modal" data-target="#productModal" data-book-id="@item.Id">
                                                            <i class="fa fa-compress"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="banner-bottom text-center">
                                                <div class="banner-bottom-title">
                                                    <a href="@Url.Action("Detail","Book",new { id = item.Id})">@item.Title</a>
                                                </div>
                                                <div class="banner-bottom-author"><a href="#">@item.AuthorName</a></div>
                                                <div class="banner-bottom-price">@item.Price <span><b>₺</b></span></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Bootstrap.ModalPopUp("productModal")


<script>

    var bookId = -1;


    $(function () {
        $('#productModal').on('show.bs.modal',
            function (e) {

                var btn = $(e.relatedTarget);

                bookId = btn.data("book-id");
                $('#productModal_body').load("/Book/ShowQuickView/" + bookId);
            }
        )
    });

</script>

