@using Entities.WebViewModels.CartItem

@model IEnumerable<CartItemModel>


<div class="shopping-cart-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @if (!Model.Any())
                {
                    <p>Sepetinizde hiçbir ürün yok. <a href="@Url.Action("Book","Shop")">Buraya </a> tıklayarak alışverişe geçebilirsiniz</p>
                }
                <div class="wishlist-table-area table-responsive">
                    <table>
                        <thead>
                            <tr>
                                <th class="product-remove">Remove</th>
                                <th class="product-image">Image</th>
                                <th class="t-product-name">Product Name</th>
                                <th class="product-unit-price">Unit Price</th>
                                <th class="product-quantity">Quantity</th>
                                <th class="product-subtotal">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product-remove">
                                        <a href="#">
                                            <i class="flaticon-delete"></i>
                                        </a>
                                    </td>
                                    <td class="product-image">
                                        <a href="#">
                                            @if (string.IsNullOrEmpty(item.BookImageUrl))
                                            {
                                                <img alt="" src="~/Images/no_image150x207.jpg">
                                            }
                                            else
                                            {
                                                <img alt="" src="@Url.Content(item?.BookImageUrl)" width="150" height="180">
                                            }
                                        </a>
                                    </td>
                                    <td class="t-product-name">
                                        <h3>
                                            <a href="#">@item.BookTitle</a>
                                        </h3>
                                    </td>
                                    <td class="product-unit-price">
                                        <p>@item.UnitPrice<span><b>₺</b></span></p>
                                    </td>
                                    <td class="product-quantity product-cart-details">
                                        <input type="number" value="@item.Quantity" min="1" max="50">
                                    </td>
                                    <td class="product-quantity">
                                        <p>@item.Subtotal<span><b>₺</b></span></p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="shopingcart-bottom-area">
                    <a class="left-shoping-cart" href="@Url.Action("Shop","Book")">CONTINUE SHOPPING</a>
                    <div class="shopingcart-bottom-area pull-right">
                        <a class="right-shoping-cart" href="#">CLEAR SHOPPING CART</a>
                        <a class="right-shoping-cart" href="#">UPDATE SHOPPING CART</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="discount-area">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="subtotal-main-area">
                    <div class="subtotal-area">
                        <h2>
                            GRAND TOTAL
                            <span><b>@(ViewBag.GrandTotal) ₺</b></span>
                        </h2>
                    </div>
                    <a href="#">CHECKOUT</a>
                </div>
            </div>
        </div>
    </div>
</div>
