@using BookStoreAdmin.Models
@model BookResultViewModel



<!--main content start-->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="icon_document_alt"></i>Forms</li>
            <li><i class="fa fa-files-o"></i>Form Validation</li>
        </ol>
    </div>
</div>
<!-- Form validations -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">

                <div class="form" style="padding-bottom: 15px;">
                    <form class="form-validate form-horizontal" id="filter-form" method="post">
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.SearchModel.StartDate, "{0:dd-MM-yyyy}", htmlAttributes:
                               new { @type = "date", @class = "datepicker form-control", name = "YapildigiYil", placeholder = "Başlangıç Tarihi", value = DateTime.Now.ToString("dd-MM-yyyy") })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.EndDate, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @*[DataType(DataType.Date)]
                                    [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}", ApplyFormatInEditMode = true)]*@
                                @Html.TextBoxFor(model => model.SearchModel.EndDate, "{0:dd-MM-yyyy}", htmlAttributes:
                               new { @type = "date", @class = "datepicker form-control", name = "YapildigiYil", placeholder = "Bitiş tarihi", value = DateTime.Now.ToString("dd-MM-yyyy") })
                                @*<input class="datepicker form-control" data-val="true" data-val-date="The field Proje Tarihi must be a date." id="YapildigiYil" name="YapildigiYil" placeholder="Proje Tarihi" type="date" value="">*@
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.CategoryIdArray, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.ListBoxFor(model => model.SearchModel.CategoryIdArray, Model.FilterModel.Categories, new { id = "multiSelectDropDown", multiple = "multiple", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.PublisherId, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.DropDownListFor(model => model.SearchModel.PublisherId, Model.FilterModel.Publishers, new { id = "publisherDropDown", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.AuthorId, htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.DropDownListFor(model => model.SearchModel.AuthorId, Model.FilterModel.Authors, new { id = "authorDropDown", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="ccomment" class="control-label col-lg-2">Kitap Adı</label>
                            <div class="col-lg-6">
                                <input class="form-control" type="text" placeholder="Kitap adı ile filtrele"/>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-8">
                                <button class="btn btn-warning" type="submit" style="color: rgb(66, 64, 64);"><b>Filtrele</b></button>

                            </div>
                        </div>
                    </form>
                </div>

                @*<div>
                        @Html.ListBoxFor(model => model.CategoryIds, new MultiSelectList(Model.CategoryCollection,"Id","Title"),new { id = "multiSelectDropDown", multiple = "multiple"})
                    </div>*@
                <div class="col-lg-offset-2 col-lg-9 text-right" style="padding-bottom:10px;">
                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i> Kitap ekle</a>
                </div>

                <div>

                    @Html.Partial("_BookListPartial")

                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->



@section scripts{


    <script>
        $(function () {
            $("#multiSelectDropDown").chosen();
            $("#publisherDropDown").chosen();
            $("#authorDropDown").chosen();
        });
    </script>

}