@using BookStoreAdmin.Models
@model InitiliazeBookResultViewModel



<!--main content start-->
<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="icon_document_alt"></i>Forms</li>
            <li><i class="fa fa-files-o"></i>Form Validation</li>
        </ol>
    </div>
</div>
<!-- Form validations -->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="form" id="filterForm" style="padding-bottom: 15px;">
                    @using (Html.BeginForm("Index", "Book", FormMethod.Get, new { @class = "form-validate form-horizontal", id = "filter-form" }))
                    {
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.StartDate, "Yayınlanma Tarihi(Başlangıç)", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-lg-8">
                                @Html.TextBoxFor(model => model.SearchModel.StartDate, "{0:dd-MM-yyyy}", htmlAttributes:
                               new { id = "start-date", @type = "date", @class = "datepicker form-control", name = "YapildigiYil", placeholder = "Başlangıç Tarihi", value = DateTime.Now.ToString("dd-MM-yyyy") })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.EndDate, "Yayınlanma Tarihi(Bitiş)", htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @*[DataType(DataType.Date)]
                                    [DisplayFormat(DataFormatString = "{0:yyyy-MM-dd}", ApplyFormatInEditMode = true)]*@
                                @Html.TextBoxFor(model => model.SearchModel.EndDate, "{0:dd-MM-yyyy}", htmlAttributes:
                               new { id = "end-date", @type = "date", @class = "datepicker form-control", name = "YapildigiYil", placeholder = "Bitiş tarihi", value = DateTime.Now.ToString("dd-MM-yyyy") })
                                @*<input class="datepicker form-control" data-val="true" data-val-date="The field Proje Tarihi must be a date." id="YapildigiYil" name="YapildigiYil" placeholder="Proje Tarihi" type="date" value="">*@
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.CategoryIds, "Kategori", htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.ListBoxFor(model => model.SearchModel.CategoryIds, Model.FilterValues.Categories, new { id = "multiSelectDropDownCategory", multiple = "multiple", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.PublisherIds, "Yayınevi", htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.ListBoxFor(model => model.SearchModel.PublisherIds, Model.FilterValues.Publishers, new { id = "multiSelectDropDownPublisher", multiple = "multiple", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.AuthorIds, "Yazar", htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-8">
                                @Html.ListBoxFor(model => model.SearchModel.AuthorIds, Model.FilterValues.Authors, new { id = "multiSelectDropDownAuthor", multiple = "multiple", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group ">
                            @Html.LabelFor(model => model.SearchModel.BookName, "Kitap Adı", htmlAttributes: new { @class = "control-label col-lg-2" })
                            <div class="col-lg-4">
                                <input class="form-control" type="text" id="book-val" placeholder="Kitap adı ile filtrele" />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-8">
                                <button class="btn btn-warning" id="btnBookFilter" type="button" style="color: rgb(66, 64, 64);"><b>Filtrele</b></button>
                            </div>
                        </div>
                    }

                </div>

                <div class="col-lg-offset-2 col-lg-9 text-right" style="padding-bottom:10px;">
                    <a class="btn btn-primary" href="#"><i class="icon_plus_alt2"></i> Kitap ekle</a>
                </div>

                <div id="bookList" style="padding: 0 50px 150px 50px;">

                    @Html.Partial("_BookListPartial", Model.PagedList)

                </div>
            </div>
        </section>
    </div>
</div>
<!-- page end-->



@section scripts{

    <script src="~/Scripts/FilterScripts.js"></script>


}