@using Entities.DataModels

@model IEnumerable<Author>



<div class="row">
    <div class="col-lg-12">
        <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
            <li><i class="icon_document_alt"></i>Forms</li>
            <li><i class="fa fa-files-o"></i>Form Validation</li>
        </ol>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="col-lg-offset-2 col-lg-9 text-right">
                    <a class="btn btn-primary" href="@Url.Action("Detail/")"><i class="icon_plus_alt2"></i> Yazar ekle</a>
                </div>
                <div class="form" style="padding:50px 0px 50px 0px;">
                    <form class="form-validate form-horizontal" method="get">
                        <div class="input-group col-md-5">
                            @Html.TextBox("authorName", null, htmlAttributes: new { @class = "form-control", placeholder = "Yazar Adı ile ara.." })
                            <span class="input-group-btn">
                                <button class="btn btn-warning" id="btnFilterAuthor" type="button" style="color: rgb(66, 64, 64);"><b>Filtrele</b></button>
                            </span>
                        </div>
                    </form>
                </div>

                <div id="authorList">

                    @Html.Partial("_AuthorListPartial", Model)

                </div>


            </div>
        </section>
    </div>
</div>
<div class="modal fade bd-example-modal-lg" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModal_label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" id="confirmModal_header">
                <div style="text-align:center;">
                    <img src="~/Images/delete-icon.jpg" />
                </div>
            </div>
            <div class="modal-body" id="confirmModal_body">
                <h2>
                    <b> Silmek istediğinize emin misiniz ?</b>
                </h2>
            </div>
            <div class="modal-footer" id="confirmModal_body">
                <button type="button" class="btn btn-danger" onclick="DeleteAuthor()">Sil</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>

@Bootstrap.SuccessModalPopUp()
@Bootstrap.ErrorModalPopUp()


@section scripts{
    <script>

        $(function () {

            $("#authorName").keypress(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    $("#btnFilterAuthor").click();
                }
            });
            $("#btnFilterAuthor").click(function () {

                var authorName = $("#authorName").val();

                $.ajax({
                    type: "POST",
                    url: "/Author/LoadAuthorList",
                    data: { searchText: authorName },
                    success: function (response) {
                        $("#authorList").html(response);
                    }
                });
            });


            $('#confirmModal').on('show.bs.modal',
                function (e) {

                    var btn = $(e.relatedTarget);

                    itemId = btn.data("author-id");
                });
        });

        var DeleteAuthor = function () {

            $.ajax({
                type: "POST",
                url: "/Author/Delete",
                data: { "id": itemId }
            }).done(function (data) {
                $('#confirmModal').modal('hide');
                if (data.result) {
                    $('#successModal').modal('show');
                    $("#authorList").load("/Author/LoadAuthorList");
                } else {
                    $('#errorModal_body').remove('.error-message');
                    $('#errorModal_body').append("<p class='error-message'>Bu Yazara bağlı ürün bulunmaktadır. Silmek için öncelikle bağlı olan ürünleri siliniz!</p>");
                    $('#errorModal').modal('show');
                }

            });
        }



    </script>
}